<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic"
          />

          {{ content }}
        </div>
      </div>
    </div>

    <!-- Experience Section -->
    <div class="page-content">
      <div class="wrapper">
        <div class="work">
          <h1 class="page-heading">{{ page.item_title_experience }}</h1>

          {% for item in page.experience_items %}
          <div class="work-item">
            <img
              src="{{ item.image.src | absolute_url }}"
              alt="{{ item.image.alt }}"
              class="work-bubble"
            />
            <span class="work-text">
              <strong>{{ item.title }}</strong>
              <br>
              {{ item.description }}
            </span>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </div>

    <!-- Education Section -->
    <div class="page-content">
      <div class="wrapper">
        <div class="work">
          <h1 class="page-heading">{{ page.item_title_education }}</h1>

          {% for item in page.education_items %}
          <div class="work-item">
            <img
              src="{{ item.image.src | absolute_url }}"
              alt="{{ item.image.alt }}"
              class="work-bubble"
            />
            <span class="work-text">
              <strong>{{ item.title }}</strong>
              <br>
              {{ item.description }}
            </span>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
